/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #0582CA;
}

body {
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    background-color: #0582CA;
}

/* ENCABEZADO */

#menu li > a {
    font-size: 16px;
    font-weight: bold;
    color: #051923;
}

#menu form > button {
    font-size: 18px;
    font-weight: bold;
}



#menu2 li > a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #006494;
}

#menu2li li > a {
    background-color: white;
    color: black;
}

/*  SLIDER DE IMAGENES   */

.carousel-inner {
    max-height: 39rem;
}

/* INTRO */

#intro {
    background-color: #00A6FB;
}


/* FOOTER */

#final {
    background-color: #051923;
    color: white;
}



@media (min-width: 850px){


}